Repository ennvina/spellactivationoverlay, pull requests merged in 2024-03, with the labels that each got.

#183 Missile Barrage SoD
  SpellActivationOverlay.toc
  changelog.md
  classes/mage.lua
  options/defaults.lua
Labels: mage, sod

#185 Brain Freeze, Hot Streak & Heating Up (SoD)
  _script/package.sh
  changelog.md
  classes/mage.lua
  components/aura.lua
  components/spell.lua
  options/defaults.lua
  options/glowoptions.lua
  options/overlayoptions.lua
Labels: mage, sod

#184 SoD: Maelstrom Weapon, Power Surge implementation, Power Surge and Elemental Focus interaction. Era: Elemental Focus has 1 stack.
  _script/package.sh
  classes/shaman.lua
  options/defaults.lua
Labels: shaman, sod

#177 Adding support for Blood Surge in Season of Discovery
  _script/package.sh
  classes/warrior.lua
Labels: warrior, sod

#188 Bloodsurge SoD
  changelog.md
  classes/warrior.lua
Labels: warrior, sod

#189 Fix Spell ID of Missile Barrage (SoD)
  classes/mage.lua
  options/defaults.lua
Labels: mage, sod

#190 Support for Druid's Nature's Grace (Era, TBC)
  changelog.md
  classes/druid.lua
Labels: druid, sod

#191 Eclipse (SoD)
  _script/package.sh
  changelog.md
  classes/druid.lua
  options/overlayoptions.lua
Labels: druid, sod

#194 May have Lunar + Solar eclipse (SoD)
  classes/druid.lua
Labels: druid, sod
