Repository ennvina/spellactivationoverlay, pull requests merged in 2024-04, with the labels that each got.

#199 Druid's updateSAOTimers now supports SoD
  changelog.md
  classes/druid.lua
Labels: bug, druid, sod

#202 Support for Priest's Surge of Light (SoD)
  _script/package.sh
  changelog.md
  classes/priest.lua
  options/defaults.lua
Labels: enhancement, priest, sod

#203 Druid's Eclipse (SoD) is now explicitly enabled
  options/defaults.lua
Labels: bug, druid, sod

#204 Move Wrath paladin code out of reach of SoD
  classes/paladin.lua
Labels: bug, paladin, sod

#211 Combat-only counters
  SpellActivationOverlay.lua
  SpellActivationOverlay.xml
  _draft/maskzero.png
  _draft/maskzero.xcf
  changelog.md
  classes/hunter.lua
  classes/mage.lua
  classes/paladin.lua
  classes/rogue.lua
  classes/shaman.lua
  components/aura.lua
  components/counter.lua
  components/events.lua
  components/glow.lua
  components/overlay.lua
  components/rune.lua
  components/util.lua
  options/InterfaceOptionsPanels.lua
  options/defaults.lua
  options/overlayoptions.lua
  textures/maskzero.blp
Labels: enhancement

#196 Add Rolling Thunder and Tidal Waves support
  _script/package.sh
  classes/shaman.lua
  components/rune.lua
  components/spell.lua
  options/defaults.lua
  textures/fulmination.blp
  textures/texname.lua
Labels: shaman, sod

#213 Rolling Thunder followup
  .vscode/settings.json
  SpellActivationOverlay.toc
  changelog.md
  classes/mage.lua
  classes/priest.lua
  classes/shaman.lua
  components/rune.lua
  components/util.lua
  options/defaults.lua
  options/overlayoptions.lua
  textures/texname.lua
Labels: enhancement

#217 Cataclysm First Draft
  .vscode/settings.json
  SpellActivationOverlay.lua
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  classes/mage.lua
  classes/rogue.lua
  classes/shaman.lua
  components/counter.lua
  components/events.lua
  components/glow.lua
  components/project.lua
  components/sound.lua
  components/spell.lua
  components/util.lua
  options/InterfaceOptionsPanels.lua
  options/InterfaceOptionsPanels.xml
  options/db.lua
  options/defaults.lua
  options/variables.lua
  sounds/UI_PowerAura_Generic.ogg
Labels: enhancement, cataclysm

#206 Added functionality for deep freeze in SOD
  classes/mage.lua
Labels: mage, sod

#218 Deep Freeze Followup
  changelog.md
  options/defaults.lua
Labels: mage, sod

#220 Unlearn Counter
  changelog.md
  components/counter.lua
Labels: bug

#221 Divine Storm
  changelog.md
  classes/paladin.lua
  components/rune.lua
  options/defaults.lua
Labels: enhancement, paladin, sod

#223 Mind Spike (SoD)
  changelog.md
  classes/priest.lua
  options/defaults.lua
Labels: enhancement, priest, sod

#233 Support for Warrior's Taste for Blood (SoD)
  changelog.md
  classes/warrior.lua
  components/spell.lua
Labels: warrior, sod

#234 Add Hungering Cold to the list of Frozen debuffs
  changelog.md
  classes/mage.lua
Labels: bug, death knight

#235 Support for Warrior's Sword and Board (SoD)
  changelog.md
  classes/warrior.lua
  options/defaults.lua
Labels: warrior, sod

#236 Support for Paladin's Holy Shock
  SpellActivationOverlay.toc
  changelog.md
  classes/paladin.lua
  options/defaults.lua
Labels: paladin

#237 Lock and Load (SoD)
  _script/package.sh
  changelog.md
  classes/hunter.lua
  options/defaults.lua
Labels: hunter, sod
