Repository ennvina/spellactivationoverlay, pull requests merged in 2024-07, with the labels that each got.

#325 Tainted Glow
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  components/glow.lua
  libs/LibButtonGlow-1.0/LibButtonGlow-1.0.lua
  libs/LibButtonGlow-1.0/LibButtonGlow-1.0.toc
  libs/LibStub/LibStub.lua
  libs/LibStub/LibStub.toc
Labels: bug

#324 MsW drops Healing Wave and Chain Heal in phase 4
  classes/shaman.lua
Labels: bug, shaman, sod

#327 Impact requires Fire Blast to be usable
  changelog.md
  classes/mage.lua
Labels: mage

#330 New Hot Streak (SoD)
  changelog.md
  classes/mage.lua
Labels: bug, mage, sod

#332 Warlock SoD Phase 4
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  classes/warlock.lua
  components/rune.lua
  options/defaults.lua
  variables/talent.lua
Labels: warlock, sod
