Repository ennvina/spellactivationoverlay, pull requests merged in 2024-05, with the labels that each got.

#247 Support for Warlock's Drain Soul (Cata)
  changelog.md
  classes/warlock.lua
  options/defaults.lua
Labels: warlock, cataclysm

#248 Druid (Cata)
  changelog.md
  classes/druid.lua
  options/InterfaceOptionsPanels.lua
  options/defaults.lua
Labels: druid, cataclysm

#252 Drain Soul specializations
  changelog.md
  classes/warlock.lua
  options/glowoptions.lua
  options/overlayoptions.lua
  options/variants.lua
Labels: bug, warlock, cataclysm

#254 Do not play Sound on Spell Alerts without Pulse
  SpellActivationOverlay.lua
  changelog.md
Labels: enhancement

#255 Fix texture orientation for Mages (Cata)
  changelog.md
  classes/mage.lua
Labels: bug, mage, cataclysm

#259 Hunter (Cata)
  SpellActivationOverlay.toc
  changelog.md
  classes/hunter.lua
  components/aura.lua
  components/effect.lua
  components/project.lua
  options/InterfaceOptionsPanels.lua
  options/defaults.lua
Labels: enhancement, hunter, cataclysm

#263 Priest (Cata)
  changelog.md
  classes/priest.lua
  options/db.lua
  options/defaults.lua
  options/overlayoptions.lua
  options/variants.lua
Labels: priest, cataclysm

#266 Feature/264 rogue cata
  .vscode/settings.json
  changelog.md
  classes/rogue.lua
  options/InterfaceOptionsPanels.lua
  options/InterfaceOptionsPanels.xml
  options/defaults.lua
Labels: rogue, cataclysm

#271 Followup of Shaman (Cata)
  SpellActivationOverlay.lua
  changelog.md
  classes/shaman.lua
  components/effect.lua
  components/events.lua
Labels: shaman, cataclysm

#273 Warlock (Cata)
  changelog.md
  classes/warlock.lua
  components/effect.lua
  options/defaults.lua
  options/glowoptions.lua
  options/overlayoptions.lua
Labels: warlock, cataclysm

#274 Warrior (Cata)
  .vscode/settings.json
  SpellActivationOverlay.lua
  changelog.md
  classes/hunter.lua
  classes/shaman.lua
  classes/warrior.lua
  components/effect.lua
  options/defaults.lua
Labels: warrior, cataclysm

#275 Remove Death Knight's Rune Strike (Cata)
  changelog.md
  classes/deathknight.lua
  options/defaults.lua
Labels: death knight, cataclysm

#277 Pyroblast! no longer triggers Heating Up
  changelog.md
  classes/mage.lua
Labels: bug, mage, cataclysm

#281 Paladin (Cata) + bug fixes
  SpellActivationOverlay.lua
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  classes/paladin.lua
  components/aura.lua
  components/effect.lua
  components/events.lua
  components/overlay.lua
  options/defaults.lua
Labels: bug, documentation, paladin, sod, cataclysm

#289 Cataclysm Mage follow-up
  .vscode/settings.json
  SpellActivationOverlay.lua
  SpellActivationOverlay.xml
  changelog.md
  classes/mage.lua
  components/aura.lua
  components/events.lua
  components/util.lua
  options/InterfaceOptionsPanels.xml
  options/classoptions.lua
  options/variants.lua
Labels: bug, mage, cataclysm

#290 Support for Warrior's Battle Trance (Cata)
  changelog.md
  classes/warrior.lua
  options/defaults.lua
Labels: warrior, cataclysm

#291 Support for Hunter's Killing Streak (Cata)
  changelog.md
  classes/hunter.lua
  options/defaults.lua
Labels: hunter, cataclysm

#292 Support for Priest's Mind Melt (Cata)
  changelog.md
  classes/priest.lua
  components/effect.lua
  options/db.lua
  options/defaults.lua
Labels: priest, cataclysm

#287 fix: show master marksman proc overlay
  classes/hunter.lua
Labels: bug, hunter, cataclysm

#300 2.0
  .vscode/settings.json
  SpellActivationOverlay.lua
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  classes/deathknight.lua
  classes/druid.lua
  classes/hunter.lua
  classes/mage.lua
  classes/paladin.lua
  classes/priest.lua
  classes/rogue.lua
  classes/shaman.lua
  classes/warlock.lua
  classes/warrior.lua
  components/aura.lua
  components/bucket.lua
  components/counter.lua
  components/display.lua
  components/effect.lua
  components/events.lua
  components/glow.lua
  components/hash.lua
  components/overlay.lua
  components/spell.lua
  components/trigger.lua
  components/util.lua
  options/classoptions.lua
  options/db.lua
  options/defaults.lua
  options/glowoptions.lua
  options/overlayoptions.lua
  options/variables.lua
  options/variants.lua
Labels: enhancement, death knight, druid, hunter, mage, paladin, priest, rogue, shaman, warlock, warrior

#305 Variables
  .vscode/settings.json
  SpellActivationOverlay.lua
  SpellActivationOverlay.toc
  _script/package.sh
  changelog.md
  classes/deathknight.lua
  classes/druid.lua
  classes/hunter.lua
  classes/mage.lua
  classes/paladin.lua
  classes/priest.lua
  classes/rogue.lua
  classes/shaman.lua
  classes/warlock.lua
  classes/warrior.lua
  components/aura.lua
  components/bucket.lua
  components/effect.lua
  components/events.lua
  components/glow.lua
  components/hash.lua
  components/trigger.lua
  components/util.lua
  components/variable.lua
  options/InterfaceOptionsPanels.lua
  options/InterfaceOptionsPanels.xml
  options/defaults.lua
  variables/actionusable.lua
  variables/aurastacks.lua
  variables/execute.lua
  variables/holypower.lua
  variables/talent.lua
Labels: enhancement, death knight, druid, paladin, priest, rogue, warlock
