Repository ennvina/spellactivationoverlay, pull requests merged in 2025-06, with the labels that each got.

#371 Initial MoP Shaman implementation
  _script/package.sh
  classes/shaman.lua
  options/defaults.lua
Labels: shaman, mop

#380 Native Glow Conflict
  SpellActivationOverlay.toc
  _draft/releasenotes/release-2.4.2.md
  changelog.md
  components/glow.lua
Labels: bug, mop

#385 Shaman MoP Followup
  _draft/releasenotes/release-2.4.2.md
  changelog.md
  classes/shaman.lua
  components/glow.lua
  options/defaults.lua
Labels: shaman, mop

#388 Paladin MoP
  SpellActivationOverlay.toc
  _draft/releasenotes/release-2.4.2.md
  _draft/releasenotes/release-2.4.4.md
  _draft/releasenotes/template-x.y.z.md
  changelog.md
  classes/paladin.lua
  options/defaults.lua
  variables/holypower.lua
Labels: paladin, mop

#389 Priest MoP
  _draft/releasenotes/release-2.4.4.md
  changelog.md
  classes/priest.lua
  components/effect.lua
  options/db.lua
  options/defaults.lua
Labels: priest, mop

#392 Pre-244 Fixes
  SpellActivationOverlay.lua
  _draft/releasenotes/release-2.4.4.md
  changelog.md
  classes/priest.lua
  components/glow.lua
Labels: bug

#393 Shadow Orbs
  .vscode/settings.json
  SpellActivationOverlay.toc
  _draft/releasenotes/release-2.5.1.md
  changelog.md
  classes/priest.lua
  components/project.lua
  options/defaults.lua
  variables/holypower.lua
Labels: priest, mop

#394 Druid MoP
  _draft/releasenotes/release-2.5.1.md
  changelog.md
  classes/druid.lua
  options/defaults.lua
Labels: druid, mop

#390 add support for MoP mage spells
  classes/mage.lua
  options/defaults.lua
Labels: mage, mop

#395 Mage MoP followup
  _draft/releasenotes/release-2.5.1.md
  changelog.md
  classes/mage.lua
  options/defaults.lua
Labels: mage, mop

#398 Overlay Overlap
  SpellActivationOverlay.lua
  components/display.lua
  components/effect.lua
  components/overlay.lua
  options/InterfaceOptionsPanels.lua
  options/overlayoptions.lua
Labels: enhancement

#400 Monk MoP
  SpellActivationOverlay.toc
  _draft/releasenotes/release-2.5.3.md
  _script/package.sh
  classes/monk.lua
  options/defaults.lua
Labels: monk, mop

#404 Flavor Info
  .vscode/settings.json
  SpellActivationOverlay.toc
  _script/package.sh
  components/project.lua
  components/tr.lua
  components/util.lua
  options/InterfaceOptionsPanels.lua
  options/InterfaceOptionsPanels.xml
Labels: enhancement

#405 More Translations
  components/tr.lua
  components/util.lua
Labels: enhancement

#407 Rogue MoP
  _draft/releasenotes/release-2.5.3.md
  changelog.md
  classes/rogue.lua
  options/defaults.lua
Labels: rogue, mop

#411 Warrior MoP
  _draft/releasenotes/release-2.5.4.md
  _script/package.sh
  classes/warrior.lua
  options/defaults.lua
Labels: warrior, mop

#414 Synchronize Shaman changes of Fulmination with Post-2.5.3 Fixes
  classes/shaman.lua
Labels: shaman, sod, cataclysm, mop

#412 Post 253 fixes
  _draft/misc.lua.txt
  _draft/releasenotes/release-2.5.4.md
  _script/package.sh
  classes/mage.lua
  classes/priest.lua
  classes/shaman.lua
  options/defaults.lua
  textures/fury_of_stormrage_yellow.blp
  textures/texname.lua
Labels: bug, enhancement, mage, priest, shaman

#417 Universal
  _draft/releasenotes/release-2.5.5.md
  _script/package.sh
Labels: enhancement
