Repository ennvina/spellactivationoverlay, pull requests merged in 2025-05, with the labels that each got.

#346 Added Binding Heal for SoD
  classes/priest.lua
Labels: priest, sod

#351 Update Changelog for Swiftbloom PR
  changelog.md
Labels: druid, sod

#355 Feature/354 effect handlers
  classes/mage.lua
  components/effect.lua
Labels: enhancement

#357 Bucket Index Spell Name
  components/bucket.lua
  components/events.lua
  options/overlayoptions.lua
  options/variables.lua
Labels: bug

#347 SoD msw 10stacks with enh t4, power surge chain heal has its own buff
  _script/package.sh
  classes/shaman.lua
  components/effect.lua
  options/defaults.lua
  textures/maelstrom_weapon_10.blp
  textures/maelstrom_weapon_6.blp
  textures/maelstrom_weapon_7.blp
  textures/maelstrom_weapon_8.blp
  textures/maelstrom_weapon_9.blp
  textures/texname.lua
  variables/aurastacks.lua
Labels: shaman, sod

#360 Burning Adrenaline
  changelog.md
  classes/hunter.lua
  options/defaults.lua
Labels: hunter, cataclysm

#362 Follow-up of Shaman T4 (SoD)
  .vscode/settings.json
  changelog.md
  classes/shaman.lua
  textures/texname.lua
Labels: shaman, sod

#364 Support for Warrior's Regicide (SoD)
  classes/warrior.lua
  options/defaults.lua
Labels: warrior, sod

#365 Mists of Pandaria
  .vscode/settings.json
  SpellActivationOverlay.lua
  _script/package.sh
  changelog.md
  classes/deathknight.lua
  classes/druid.lua
  classes/hunter.lua
  classes/mage.lua
  classes/priest.lua
  classes/rogue.lua
  classes/shaman.lua
  classes/warlock.lua
  classes/warrior.lua
  components/counter.lua
  components/project.lua
  components/shutdown.lua
  components/util.lua
  options/defaults.lua
  options/glowoptions.lua
  options/overlayoptions.lua
  options/variants.lua
  textures/texname.lua
  variables/talent.lua
Labels: death knight, mage, paladin, priest, warrior, mop

#366 Dev Env items
  .gitignore
  .vscode/settings.json
  _curse/OG400.png
  _draft/misc.lua.txt
  _draft/releasenotes/release-1.0.md
  _draft/releasenotes/release-1.1.5.md
  _draft/releasenotes/release-1.1.md
  _draft/releasenotes/release-1.2.1.md
  _draft/releasenotes/release-1.3.1.md
  _draft/releasenotes/release-1.3.2.md
  _draft/releasenotes/release-1.4.0.md
  _draft/releasenotes/release-1.4.1.md
  _draft/releasenotes/release-1.4.3.md
  _draft/releasenotes/release-1.4.4.md
  _draft/releasenotes/release-2.0.0.md
  _draft/releasenotes/release-2.1.0.md
  _draft/releasenotes/release-2.1.1.md
  _draft/releasenotes/release-2.2.0.md
  _draft/releasenotes/release-2.3.0.md
  _draft/releasenotes/release-2.3.1.md
  _draft/releasenotes/release-2.3.2.md
  _draft/releasenotes/release-2.3.4.md
  _draft/releasenotes/release-2.4.0.md
  _draft/research/issue-counter-alerts.md
  _draft/research/runes-sod-season-2.md
  _draft/research/runes-sod-season-3.md
Labels: documentation

#367 Incite
  changelog.md
  classes/warrior.lua
  options/defaults.lua
Labels: warrior, cataclysm, mop

#374 Add the 'stance' variable
  SpellActivationOverlay.toc
  _draft/misc.lua.txt
  components/trigger.lua
  variables/stance.lua
Labels: enhancement
